*
{
    font-weight: 700;
}
#mainboard
{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 280px;
    height: 400px;
    border-radius: 20px;
    background-color: black;
}
#input
{
    position: relative;
    left: 50%;
    margin: 30px 0 10px 0;
    transform: translate(-50%,0);
    text-decoration: none;
    border: none;
    background-color: #4E4D4D;
    width: 240px;
    height: 36px;
    text-align: right;
    font-size: larger;
    color: white;

}

.first
{
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;    /* 垂直居中 */
}
.first>*
{
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    margin: 5px;
    width: 50px;
    height: 50px;
}
.bt-gray
{
    background-color: #D4D4D4;

}
.bt-yellow
{
    color:white;
    background-color: #D88F03;
}

.bt-black
{
    background-color: #606060;
    color:white;
}

.second
{
    width: 180px;
    display: flex;
    margin-left: 20px;
}
.bt-equal
{
    margin:5px;
    border-radius: 30px;
    text-align: center;
    line-height: 110px;
    width: 50px;
    height: 110px;
    background-color: #D88F03;
    color:white;
    float: right;
    margin-right: 25px;
}
.second>*
{
    border-radius: 100%;
    line-height: 50px;
    text-align: center;
    margin: 5px;
    width: 50px;
    height: 50px;
}
.bt-zero
{
    width: 110px;
    color:white;
    background-color: #606060;
    border-radius: 30px;
}