*
{
    font-weight: 700;
}
#mainboard
{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 280px;
    height: 420px;
    border-radius: 20px;
    background-color: black;
}
#input
{
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    margin: 30px 0 20px 0;
    text-decoration: none;
    border: none;
    background-color: #4E4D4D;
    width: 240px;
    height: 40px;
    text-align: right;
    font-size: 28px;
    color: white;
}

.first
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.first>*,.second>*
{
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    margin: 5px;
    width: 50px;
    height: 50px;
}
.bt-gray
{
    background-color: #D4D4D4;

}
.bt-yellow
{
    color:white;
    background-color: #D88F03;
}
.bt-black
{
    background-color: #606060;
    color:white;
}
.second
{
    width: 180px;
    display: flex;
    margin-left: 20px;
}
.bt-equal
{
    margin:5px;
    border-radius: 30px;
    text-align: center;
    line-height: 110px;
    width: 50px;
    height: 110px;
    float: right;
    margin-right: 25px;
}
.bt-zero
{
    width: 110px;
    border-radius: 30px;
}