img {border: 0;}
.container {
	width: 974px;
	padding: 0;
	margin: 0 auto;}
.folio_block {
	
	margin:0 auto;}


/*--Main Container--*/
.main_view {
	float: left;
	position: relative;}
/*--Window/Masking Styles--*/
.window {
	height:224px;	width: 974px;
	overflow: hidden; /*--hides anything outside of the set width/height--*/
	position: relative;}
.image_reel {
	position: absolute;
	top: 8px; left: 0;}
.image_reel img {float: left;}

/*--Paging Styles--*/
.paging {
	position: absolute;
	bottom: 5px; right: -7px;
	width: 178px; height:47px;
	z-index: 100; /*--assures the paging stays on the top layer--*/
	text-align: center;
	line-height:40px;
	background: url(paging_bg2.jpg) no-repeat;
	display: none;}
.paging a {
	padding: 5px;
	text-decoration: none;
	color: #fff;}
.paging a.active {
	font-weight: bold; 
	background: #920000; 
	border: 1px solid #610000;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;}
.paging a:hover {font-weight: bold;}